USE [JQueryDatatable]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/27/2022 3:40:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/27/2022 3:40:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](120) NOT NULL,
	[LastName] [nvarchar](120) NOT NULL,
	[Contact] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](128) NOT NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220427115955_Initial', N'5.0.16')
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Contact], [Email], [DateOfBirth]) VALUES (1, N'Derrik', N'Durdle', N'736-156-1866', N'ddurdle0@youtube.com', CAST(N'2021-11-06T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Contact], [Email], [DateOfBirth]) VALUES (2, N'Silvester', N'Grestye', N'745-537-3502', N'sgrestye1@google.ca', CAST(N'2021-06-18T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Contact], [Email], [DateOfBirth]) VALUES (3, N'Zorah', N'Trevains', N'794-713-4632', N'ztrevains2@theguardian.com', CAST(N'2021-07-05T00:00:00.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
